---
layout: page
title: "Speaking"
date: 2011-08-29 22:28
comments: false
sharing: false
footer: false
---

<p>
{% img left /images/speaking.png %}
<img src="/images/speaking2.jpg" width="320" class="right">
</p>

<p>
I enjoy speaking at developer conferences around the world on iOS, Rails, or general software development skills. Below are some of my upcoming & past speaking engagements.
</p>

<div id="speaking">
  <h3>Upcoming Speaking Events</h3>
  <ul v-if="upcomingEvents.length">
    <li is="event-list-item" v-for="event in upcomingEvents" :event="event"></li>
  </ul>
  <p v-else style="font-size: 0.8em; font-style: italic;">Nothing scheduled! <a href="/contact">Get in touch</a>.</p>

  <h3>Past Events</h3>
  <ul>
    <li is="event-list-item" v-for="event in pastEvents" :event="event"></li>
  </ul>
</div>

<script type="text/x-template" id="event-list-item-template" src="/speaking/list-item-template.html">
    {%raw %}
    <li class="Speaking__event">
      <a v-if="event.url" :href="event.url">
        {{ event.name }}
      </a>
      <span v-else>
        {{ event.name }}
      </span>
      <span class="Speaking__dates">
        <span v-if="event.startDate" class="Speaking__startDate">{{ formatDate(event.startDate) }}</span>
        <span v-if="event.endDate" class="Speaking__endDate"> - {{ formatDate(event.endDate) }}</span>
      </span>
      <span v-if="event.location" class="Speaking__location">{{ event.location }}</span>
    </li>
    {% endraw %}
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
<script type="text/javascript" src="/speaking/speaking.js"></script>
