<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>.Recent.Ulysses_Public_Filter</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2008-10-01-recent-developments.markdown</string>
		</array>
		<array>
			<string>2008-10-05-the-curly-brace-tax.markdown</string>
		</array>
		<array>
			<string>2008-10-08-tulsa-tech-fest-vs-live.markdown</string>
		</array>
		<array>
			<string>2008-10-12-the-transition-from-tdd-to-bdd.markdown</string>
		</array>
		<array>
			<string>2008-10-14-vs-live-tulsa-techfest-material.markdown</string>
		</array>
		<array>
			<string>2008-10-20-leveraging-existing-asp-net-features-in-asp-net-mvc.markdown</string>
		</array>
		<array>
			<string>2008-11-01-about-me.markdown</string>
		</array>
		<array>
			<string>2008-11-09-book.markdown</string>
		</array>
		<array>
			<string>2008-11-09-contact.markdown</string>
		</array>
		<array>
			<string>2008-11-10-new-blog-design-platform.markdown</string>
		</array>
		<array>
			<string>2008-11-11-photos.markdown</string>
		</array>
		<array>
			<string>2008-11-11-subsonic-and-projections.markdown</string>
		</array>
		<array>
			<string>2008-11-25-fluent-route-testing-in-asp-net-mvc.markdown</string>
		</array>
		<array>
			<string>2008-12-02-speaking-at-the-microsoft-developer-conference.markdown</string>
		</array>
		<array>
			<string>2008-12-10-hello-world-x-2.markdown</string>
		</array>
		<array>
			<string>2008-12-30-houston-alt-net-geek-dinner-january-7th.markdown</string>
		</array>
		<array>
			<string>2008-12-31-obligatory-2008-recap.markdown</string>
		</array>
		<array>
			<string>2009-01-09-last-night-at-hdnug.markdown</string>
		</array>
		<array>
			<string>2009-01-10-building-a-hackintosh.markdown</string>
		</array>
		<array>
			<string>2009-02-01-announcing-houston-alt-net-open-spaces-conference.markdown</string>
		</array>
		<array>
			<string>2009-02-02-access-denied-on-microsoft-visual-studio-web-authoring-component.markdown</string>
		</array>
		<array>
			<string>2009-02-03-february-alt-net-geek-dinner.markdown</string>
		</array>
		<array>
			<string>2009-02-05-a-story-of-tfs-wtfery.markdown</string>
		</array>
		<array>
			<string>2009-02-24-houston-alt-net-open-spaces-registration-is-now-open.markdown</string>
		</array>
		<array>
			<string>2009-03-11-right-click-new-visual-studio-solution.markdown</string>
		</array>
		<array>
			<string>2009-04-01-subversion-2009-team-edition-for-professionals.markdown</string>
		</array>
		<array>
			<string>2009-04-08-post-alt-net-houston-thoughts.markdown</string>
		</array>
		<array>
			<string>2009-04-09-excerpt-from-asp-net-mvc-in-action-chapter-6.markdown</string>
		</array>
		<array>
			<string>2009-04-13-exporting-visual-studio-solutions-with-solutionfactory.markdown</string>
		</array>
		<array>
			<string>2009-04-21-jquery-auto-complete-text-box-with-asp-net-mvc.markdown</string>
		</array>
		<array>
			<string>2009-04-26-awarded-ineta-community-champion-for-q1-2009.markdown</string>
		</array>
		<array>
			<string>2009-05-01-a-culture-of-microcomponents.markdown</string>
		</array>
		<array>
			<string>2009-05-13-upgrading-my-hackintosh-to-10-5-7.markdown</string>
		</array>
		<array>
			<string>2009-06-01-hello-isaac-isabella.markdown</string>
		</array>
		<array>
			<string>2009-06-02-jquery-autocomplete-with-a-hidden-value.markdown</string>
		</array>
		<array>
			<string>2009-06-10-getting-started-with-heroku-on-windows.markdown</string>
		</array>
		<array>
			<string>2009-07-09-detecting-a-tap-on-a-uitextview.markdown</string>
		</array>
		<array>
			<string>2009-07-13-teaser.markdown</string>
		</array>
		<array>
			<string>2009-07-17-intro-to-iphone-development-at-alt-net-geek-dinner.markdown</string>
		</array>
		<array>
			<string>2009-08-18-asp-net-mvc-in-action-in-stores-in-september.markdown</string>
		</array>
		<array>
			<string>2009-08-21-my-favorite-production-software-bug.markdown</string>
		</array>
		<array>
			<string>2009-09-15-announcing-pocket-tabs-for-iphone.markdown</string>
		</array>
		<array>
			<string>2009-09-23-asp-net-mvc-2-article-published-on-dot-net-slackers.markdown</string>
		</array>
		<array>
			<string>2009-10-02-asp-net-mvp-again-for-2009.markdown</string>
		</array>
		<array>
			<string>2009-10-03-pocket-tabs-gets-a-makeover.markdown</string>
		</array>
		<array>
			<string>2009-11-24-pocket-tabs-now-available-on-the-app-store.markdown</string>
		</array>
		<array>
			<string>2009-12-09-interview-online-at-infoq.markdown</string>
		</array>
		<array>
			<string>2010-01-06-a-bunch-of-reasons-to-love-ruby-hdlug-presentation.markdown</string>
		</array>
		<array>
			<string>2010-01-18-greener-pastures.markdown</string>
		</array>
		<array>
			<string>2010-01-21-fix-outlook-2010.markdown</string>
		</array>
		<array>
			<string>2010-02-01-thanks-iphone-dev-camp-houston.markdown</string>
		</array>
		<array>
			<string>2010-02-05-i-was-on-tv.markdown</string>
		</array>
		<array>
			<string>2010-02-07-setting-up-a-new-macbook-pro-for-development.markdown</string>
		</array>
		<array>
			<string>2010-02-12-a-code-example-of-ruby-metaprogramming.markdown</string>
		</array>
		<array>
			<string>2010-02-28-scripting-heroku-backups.markdown</string>
		</array>
		<array>
			<string>2010-03-31-is-uitableviewcontroller-useless.markdown</string>
		</array>
		<array>
			<string>2010-04-20-handy-categories-on-nsstring.markdown</string>
		</array>
		<array>
			<string>2010-05-03-my-xcode-theme.markdown</string>
		</array>
		<array>
			<string>2010-06-03-iphone-apps-dont-live-in-a-vacuum.markdown</string>
		</array>
		<array>
			<string>2010-06-07-building-an-iphone-app-for-tekpub-splash-screen.markdown</string>
		</array>
		<array>
			<string>2010-06-09-give-your-eyes-a-break-with-safari-5-reader.markdown</string>
		</array>
		<array>
			<string>2010-06-10-installing-postgresql-for-rails-on-mac-os-x.markdown</string>
		</array>
		<array>
			<string>2010-06-16-asp-net-mvc-2-in-action-has-arrived.markdown</string>
		</array>
		<array>
			<string>2010-06-16-sorry-safari-5.markdown</string>
		</array>
		<array>
			<string>2010-06-20-giggletouch.markdown</string>
		</array>
		<array>
			<string>2010-06-21-dealing-with-dates-time-zones-in-objective-c.markdown</string>
		</array>
		<array>
			<string>2010-07-17-giggletouch-featured-in-the-app-store.markdown</string>
		</array>
		<array>
			<string>2010-07-18-using-carrierwave-with-mongoid.markdown</string>
		</array>
		<array>
			<string>2010-08-06-load-testing-our-heroku-app.markdown</string>
		</array>
		<array>
			<string>2010-08-29-lone-star-ruby-conference.markdown</string>
		</array>
		<array>
			<string>2010-10-22-agiledotnet-conference-in-houston-november-12.markdown</string>
		</array>
		<array>
			<string>2010-10-22-new-relic-hits-the-net-space.markdown</string>
		</array>
		<array>
			<string>2010-11-02-incorporating-3rd-party-libraries-in-iphone-apps.markdown</string>
		</array>
		<array>
			<string>2010-11-30-setting-up-a-new-linode-box-creating-user-accounts.markdown</string>
		</array>
		<array>
			<string>2011-01-20-connecting-to-sql-server-2008-from-ruby-on-linux.markdown</string>
		</array>
		<array>
			<string>2011-04-11-blog-reboot.markdown</string>
		</array>
		<array>
			<string>2011-04-12-mariachi-product-engineering.markdown</string>
		</array>
		<array>
			<string>2011-04-13-book-review-crafting-rails-applications.markdown</string>
		</array>
		<array>
			<string>2011-04-13-presentations-from-iphone-dev-con-boston.markdown</string>
		</array>
		<array>
			<string>2011-04-14-increasing-shared-memory-for-postgres-on-os-x.markdown</string>
		</array>
		<array>
			<string>2011-04-16-private-categories-in-objective-c.markdown</string>
		</array>
		<array>
			<string>2011-04-22-using-guard-spork-with-mongoid-devise.markdown</string>
		</array>
		<array>
			<string>2011-05-05-2011-ultimate-tools-list-for-mac.markdown</string>
		</array>
		<array>
			<string>2011-05-14-dry-up-your-rspec-files-with-subject-let-blocks.markdown</string>
		</array>
		<array>
			<string>2011-05-25-houston-code-camp-call-for-speakers.markdown</string>
		</array>
		<array>
			<string>2011-05-31-rails-intrigue-video-at-nhdnug.markdown</string>
		</array>
		<array>
			<string>2011-06-02-creating-proper-ipa-files-in-xcode-4.markdown</string>
		</array>
		<array>
			<string>2011-06-08-fixing-xcode-4s-broken-code-completion.markdown</string>
		</array>
		<array>
			<string>2011-06-17-houston-code-camp-registration-is-now-open.markdown</string>
		</array>
		<array>
			<string>2011-08-17-a-fresh-start.markdown</string>
		</array>
		<array>
			<string>2011-08-17-my-vim-journey.markdown</string>
		</array>
		<array>
			<string>2011-08-21-moving-my-blog.markdown</string>
		</array>
		<array>
			<string>2011-08-24-when-viewwillappear-isnt-called.markdown</string>
		</array>
		<array>
			<string>2011-08-26-is-rails-exempt-from-software-principles.markdown</string>
		</array>
		<array>
			<string>2011-08-26-vim---could-not-invoke-jslint.markdown</string>
		</array>
		<array>
			<string>2011-09-16-firebug-style-debugging-for-ios.markdown</string>
		</array>
		<array>
			<string>2011-09-20-introducing-appsites.markdown</string>
		</array>
		<array>
			<string>2011-09-27-creating-a-glow-effect-for-uilabel-and-uibutton.markdown</string>
		</array>
		<array>
			<string>2011-10-04-making-a-uibutton-flip-over.markdown</string>
		</array>
		<array>
			<string>2011-10-06-sharing-vim-configuration-between-machines.markdown</string>
		</array>
		<array>
			<string>2011-10-13-appsites-is-now-appkickstand.markdown</string>
		</array>
		<array>
			<string>2011-12-12-formatting-json-from-terminal.markdown</string>
		</array>
		<array>
			<string>2012-01-11-careful-with-block-based-notification-handlers.markdown</string>
		</array>
		<array>
			<string>2012-01-19-nsscreencasts.markdown</string>
		</array>
		<array>
			<string>2012-02-10-hello.markdown</string>
		</array>
		<array>
			<string>2012-07-07-serving-assets-from-s3-on-heroku.markdown</string>
		</array>
		<array>
			<string>2013-02-02-in-search-of-a-fast-external-hard-drive.markdown</string>
		</array>
		<array>
			<string>2013-07-13-speaking-at-cocoa-conf-pdx.markdown</string>
		</array>
		<array>
			<string>2013-08-15-the-ios-developers-toolbelt.markdown</string>
		</array>
		<array>
			<string>2013-11-12-creating-a-fusion-drive.markdown</string>
		</array>
		<array>
			<string>2013-12-20-synchronizing-dotfiles.markdown</string>
		</array>
		<array>
			<string>2013-12-20-using-rbenv-in-cron-jobs.markdown</string>
		</array>
		<array>
			<string>2014-02-26-fixing-github-ssl-issue-on-10-dot-9-2.markdown</string>
		</array>
		<array>
			<string>2014-03-14-quick-look-debugging-with-uiview.markdown</string>
		</array>
		<array>
			<string>2014-06-12-regex-in-swift.markdown</string>
		</array>
		<array>
			<string>2014-06-18-implementing-ruby-style-iteration-in-swift.markdown</string>
		</array>
		<array>
			<string>2014-06-27-runtime-size-class-changes-in-ios8.markdown</string>
		</array>
		<array>
			<string>2015-01-06-announcing-side-mirror.markdown</string>
		</array>
		<array>
			<string>2015-03-06-moving-on.markdown</string>
		</array>
		<array>
			<string>2015-03-11-contracts.markdown</string>
		</array>
		<array>
			<string>2015-03-13-vibratofm.markdown</string>
		</array>
		<array>
			<string>2015-05-29-cobblers-children.markdown</string>
		</array>
		<array>
			<string>2015-06-09-swift-2-open-source.markdown</string>
		</array>
		<array>
			<string>2015-10-25-what-is-your-superpower.markdown</string>
		</array>
		<array>
			<string>2015-10-26-nsscreencast-tvos.markdown</string>
		</array>
		<array>
			<string>2015-10-30-say-hello-to-nsscreencast-tv.markdown</string>
		</array>
		<array>
			<string>2015-11-01-painless-authentication-on-apple-tv.markdown</string>
		</array>
		<array>
			<string>2015-11-05-steel-series-nimbus-controller.markdown</string>
		</array>
		<array>
			<string>2015-11-20-exporting-devices-with-spaceship.markdown</string>
		</array>
		<array>
			<string>2016-02-04-nibs-are-cool-again.markdown</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Globe</string>
</dict>
</plist>
