$dateColor: #A4ADB6;
$bodyTextColor: rgb(65, 65, 60);
$quoteTextColor: lighten($bodyTextColor, 20%);
$lineColor: lighten($dateColor, 25%);
$metaColor: $dateColor;
$navLinkColor: lighten(rgb(89, 95, 121), 15%);
$bodyBgColor: #fdfdfe;
$bannerTextColor: #f44;
$linkColor: blue;
$linkHighlight: $bannerTextColor;
$sidebarColor: darken(#fff, 4%);
$sidebarWidth: 200px;

$sidebarWidth-compressed: 66px;
