$dateColor: #A4ADB6;
$bodyTextColor: rgb(82, 99, 107);
$quoteTextColor: lighten($bodyTextColor, 20%);
$lineColor: lighten($dateColor, 25%);
$metaColor: $dateColor;
$navLinkColor: lighten(rgb(89, 95, 121), 15%);
$bodyBgColor: #fff;
$bannerTextColor: #f44;
$linkColor: #185197;
$linkHighlight: $bannerTextColor;
$sidebarColor: #fff; //darken(#fff, 4%);
$sidebarWidth: 200px;

$sidebarWidth-compressed: 66px;
