@media (min-width: 321px) and (max-width: 700px) {
  body {
    font-size: 18px !important;
  }

  h1 {
    font-size: 1.5em;
  }

  header {
    &[role="banner"] {
      width: $sidebarWidth-compressed + 40px !important;
      padding: 10px 10px !important;
      h1 {
        font-size: 0.75em !important;
        a {
          font-size: 1.5em;
        }
      }
      h2 {
        font-size: 0.65em !important;
      }
    }
  }

  nav {
    margin-top: 40px !important;
    width: $sidebarWidth-compressed !important;
  }

  #main {
    margin-left: $sidebarWidth-compressed + 80px !important;
  }
}


@media screen and (max-width: 420px) {
  body {
    font-size: 16px !important;
    margin: 0 !important;
  }

  #main {
    padding: 0px 30px;
  }

  nav {
    display: none;
    position: relative !important;
    width: 100% !important;
    background-color: darken($sidebarColor, 5%) !important;
    height: auto !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
    padding: 0 !important;
    text-align: center;
    ul.main-navigation {
      padding: 0 !important;
      margin: 0 !important;
      li {
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }

  .nav-toggle {
    display: block !important;
    margin-top: 5px;
    color: $navLinkColor;
    font-size: 0.7em;
  }

  header {
    &[role="banner"] {
      padding: 8px 0px !important;
      width: 100% !important;
      text-align: center;
      position: relative !important;
    }
  }

  #content {
    padding-top: 0;
  }

  #main {
    margin: 0 !important;
    padding: 20px !important;
  }

  h1 {
    text-align: center;
    font-size: 1em;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 10px !important;
  }

  h1.entry-title {
    margin-top: 0;
    font-size: 2em;
  }

  article img {
    width:100%;
    max-width: 300px;
  }
}
