.Speaking__dates {
  font-size: 0.8em;
  color: #aaa;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.Speaking__location {
  background-color: #eee;
  border-radius: 6px;
  padding: 3px 8px;
  font-size: 0.6em;
  color: #aaa;
}
